@charset "UTF-8";

/*
Paleta de Cores:
    verde: #49a09d;
    lilás: #5f2c82;

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw; 
}

main{
    position: relative; /**PARA COLOCAR NO MAEIO*/
    height: 100vh;
    width: 100vw;
}

section#login{
    /*DIV DENTRO DE OUTRA DIV, A PRIMEIRA COM RELATIVE, A SEGUNDA COM ABSOLUTE, USANDO TOP E LEF 505 E TRANSFORME TRANSLATE -50% O TOP E O LEFT */
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden; /*imagem que passou da borda, ficou escondida */

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.915);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;

    transform: translate(-50%, -50%);  /*PARA COLOCAR NO MEIO*/
}

section#login > #imagem{
    display: block;
    background: #5f2c82 url("img/predio.jpg")  no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    
}

section#login > #formulario{
    display: block;
    padding: 10px;
}


#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}

#formulario > p{
    font-size: 0.8em;
}


form > .campo{
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #5f2c82;
}


.campo  label{
    display: none;
}

.campo > span{
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input{
    background-color: #49a09d;
    font-size: 1em;
    width: calc(100% - 44.7px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}


.campo > input:focus-within{
    background-color: white;
    border: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
   background-color: #2f5f5e; 
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid #2f5f5e;
    border-radius: 5px;
    text-decoration: none;
}


form > a.botao:hover{
    background-color: #4c9c9b;
}

form > a.botao > span{
    font-size: 0.8em;
}







@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
        width: 80vw;
        height: 350px;
    }
    section#login > div#imagem{
        float: right;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario{
        float: left;
        width: 70%;
    }

    #formulario > h1{
        color: #49a09d;
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }

    #formulario > p{
        font-size: 1em;
        margin: 20px;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 950px;
        height: 450px;
    }

    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 50%;
    }

    #formulario > h1{
        color: #49a09d;
        text-align: center;
        margin-bottom: 10px;
        font-size: 2.5em;
    }

    
    #formulario > p{
        font-size: 1em;
        margin: 20px;
    }
}
